[submodule "Caramel/vendor/spdlog"]
	path = Caramel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Caramel/Vendor/GLFW"]
	path = Caramel/Vendor/GLFW
	url = https://github.com/TheCherno/glfw
