[submodule "Caramel/vendor/spdlog"]
	path = Caramel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Caramel/Vendor/GLFW"]
	path = Caramel/Vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Caramel/vendor/imgui"]
	path = Caramel/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Caramel/vendor/glm"]
	path = Caramel/vendor/glm
	url = https://github.com/g-truc/glm
